.ControlledCarousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
  }

  .ControlledCarousel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
  }